name: Actualizador de Datos
on:
  schedule:
    # --- MODO PARTIDO (Tardes/Noches) ---
    # Ejecutar cada 15 min desde las 12:00 UTC (13:00/14:00 España) hasta las 23:00 UTC (00:00 España)
    - cron: '*/15 12-23 * * *'

    # --- MODO DESCANSO (Madrugadas/Mañanas) ---
    # Ejecutar una vez a las 04:00, 07:00 y 10:00 UTC (Para mantener la agenda al día)
    - cron: '0 4,7,10 * * *'
  
  workflow_dispatch: # Botón manual (siempre disponible)

permissions:
  contents: write  # Esto arregla el error 403 (Permiso denegado)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar librerías
        run: pip install requests beautifulsoup4 pytz

      - name: Ejecutar Script
        run: python update_data.py

      - name: Guardar cambios
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          # El asterisco evita el error de "pathspec" si los archivos ya existen
          git add *.json
          git commit -m "Auto-update: $(date)" || exit 0
          git push
